.background {
    background-image: url(../../assets/homeBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    height: 95vh;
}

.oscurecerFondo,
.oscurecerFondoCamara,
.oscurecerFondoExperiencia {
    position: absolute;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.741);
}

.hislumaLogo {
    width: 18rem;
    margin-bottom: 0.5rem;
}

.info,
.heading2,
.frase {
    color: #fff;
}

.heading2 {
    font-size: 1.1rem;
}

.info {
    font-size: 0.8rem;
}

.frase,
.heading2 {
    font-weight: 600;
    text-align: center;
}

.button {
    background-color: #FFD700;

    padding: 0.5rem;
    padding-left: 1.2rem;

    border: 1px solid #FFD700;

    position: relative;

    width: 70%;
    min-width: 14rem;
    max-width: 15rem;

    text-align: start;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.arrow {
    background-color: #1E1E1E;

    color: #FFD700;
    padding: 10px;
    clip-path: polygon(24% 0%, 100% 0, 100% 100%, 0 100%);

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow::after {
    content: '>';
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;

    height: 85vh;
    width: 90%;
    margin: 0 auto;
}

.camaraHomeBackground {
    background-image: url(../../assets/camaraHome.jpg);
    background-size: cover;
    aspect-ratio: 1.5;

    position: relative
}

.oscurecerFondoCamara {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: end;
}

.camaraHomeBackground p {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;

    padding-left: 1rem;
}

.videoTitulo {
    color: #000;
    text-align: start;
    font-weight: 700;
    margin-top: 1rem;
}

.mainContainer {
    width: 90%;
    margin: 0 auto;
}

.listItem {
    line-height: 1.3rem;
    margin: 1rem 0;
}

.spanFont {
    font-weight: 600;
}

.homeCardContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;

    margin: 2rem auto;
    width: 90%;
}

.btnContainer,
.btnContainerVisiter {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.btnVerMas {
    background-color: #FFCC00;
    border: none;
    padding: 0.5rem 2rem;
    font-weight: 600;

    text-transform: uppercase;
}

.temporadaContainer {
    width: 90%;
    margin: 0 auto;
}

.sliderContainer {
    margin-top: 1rem;
}

.sliderContainer article {
    height: 8rem;
}

.btnContainerVisiter {
    margin-top: 2rem;
}

.destacadoContainer {
    width: 90%;
    margin: 2rem auto;
}

.destacadoImagen {
    width: 100%;
    height: 8rem;
    object-fit: cover;
}

.destacadoTitulo {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.destacadoDescripcion {
    color: #000;
    margin-top: 0;
    font-size: 0.8rem;

    border-bottom: 1px solid rgba(128, 128, 128, 0.6);
    padding-bottom: 1rem;
}



.visitarCalendario,
.sincronizarCalendario {
    background-color: #FFCC00;
    border: none;

    padding: 0.5rem 1rem;

    font-size: 0.9rem;

    width: 9rem;
}

.sincronizarCalendario {
    background-color: unset;
    border: 1px solid #FFCC00;
    color: #fff;
}

.botonesContainer {
    display: flex;
    gap: 0.5rem;

    width: 90%;
    margin: 1rem auto 0;
    padding-bottom: 1rem;

    justify-content: center;
}

.partidosGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    width: 90%;
    margin: 0 auto;
}

.partidosContainerTitulo {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.partidosContainer {
    background-color: #1D1D1D;
    padding: 2rem 0;
}

.experienciaContainer {
    width: 90%;
    margin: 0 auto;
}

.experienciaBackground {
    background-image: url(../../assets/experienciaBackground.png);
    position: relative;
    background-size: cover;

    height: 6rem;

    margin-top: 1rem;
}

.experienciaBackground a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
}

.experienciaBackground a::after {
    content: ">";
    color: #FFCC00;
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.experienciaTitulo {
    color: #fff;
    font-size: 1rem;

    max-width: 10rem;
    padding-left: 1rem;
}

.experienciaTitulo span {
    color: #FFCC00;
}

.oscurecerFondoExperiencia {
    display: flex;
    align-items: center;
}

.explorarBackground {
    max-width: 26rem;
    width: 100%;
    height: 8rem;
    background-image: url(../../assets/explorarBackground.png);
    position: relative;
    background-size: cover;
}

.explorarBackgroundContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorarBackgroundContainer h3 {
    margin-top: 0;

}

.explorarTitulo {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.explorarContainerFlex {
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 90%;
    margin: 0 auto;
}
.explorarContainer{
    margin: 3rem 0;
}
@media only screen and (min-width: 600px) {
    .container {
        align-items: start;
    }

    .heading2,
    .frase {
        text-align: start;
        width: 25rem;
    }

    .info {
        width: 20rem;
    }

    .camaraHomeBackgroundContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
    }
    .camaraHomeBackground{
       min-width: 15rem;
       width: 100%;
       height: 100%;
       background-position: 60%;
    }
    .listaDesordenada{
        padding: 0;
    }
    .homeCardContainer{
        grid-template-columns: repeat(4,1fr);
        width: unset;
        margin-top: 4rem;
    }
    .destacadoContainer{
        width: 60%;
    }
    .partidosContainer{
        width: 80%;
        margin: 0 auto;
    }
    .visitarCalendario,.sincronizarCalendario{
        width: 13rem;
    }
    .oscurecerFondoExperiencia{
        display: flex;
        justify-content: space-evenly;
    }
    .experienciaTitulo{
        max-width: 14rem;
    }
}

@media only screen and (min-width: 800px) {

    .heading2,
    .frase {
        width: 43%;
    }
}