.navbarContainer {
    background-color: #0E0E0E;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.navBarActivacion {
    position: absolute;
    top: 4rem;
    z-index: 1;
    left: 0;
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: #0E0E0E;
}
.navBarActivacion a,.navBarInactiva a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-left: 1rem;
}
.navBarActivacion li{
    margin: 1.5rem 0;
}
.navBarInactiva {
    display: none;
}

.hislumaLogo {
    width: 6.563rem;
    height: 1.625rem;
    object-fit: cover;
}

.rightIcons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media only screen and (min-width: 800px) {
    .menuHamburguesa {
        display: none;
    }

    .rightIcons {
        flex-direction: row-reverse;
    }
    .navBarInactiva{
        display: flex;

        list-style: none;
    }
    .navBarInactiva{
        font-size: 0.95rem;
    }
}