:root {
    --bg-color: #151515;
    --yellow-color: #FFCC00;
    --white-color: #fff;
}

.footerBackground {
    background-color: var(--bg-color);

    height: 25rem;
}

.footerContainer {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 90%;
    padding: 1rem 0;
}

.hislumaLogo {
    width: 12rem;
    object-fit: cover;
}

.hislumaTv {
    color: var(--yellow-color);
    text-transform: uppercase;
    font-style: italic;
}

.hislumaTv span,
.terminos {
    color: var(--white-color);
}

.terminos {
    font-weight: 500;
}

.footerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.footerGrid a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 0.75rem;
}

.footerGrid section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redesContainer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
}

@media only screen and (min-width: 600px) {
    .redesContainer {
        justify-content: start;
    }
}

@media only screen and (min-width: 900px) {
    .footerContainer {
        flex-direction: row;
        gap: 4rem;
    }

    .hislumaLogo {
        width: unset;
        height: 4rem;
    }
}