.headerBackground {
    background-image: url(../../assets/serviciosBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;

    position: relative;
}

.oscurecerFondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.tituloHeader,
.descripcionHeader {
    color: #fff;
    text-align: center;
}

.tituloHeader {
    margin-bottom: 0;
}

.headerContainer {
    height: 75vh;
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.introduccionTitulo {
    font-weight: 600;
    font-size: 1rem;
}

.introduccionContainer {
    width: 90%;
    margin: 4rem auto;
}

.introduccionParrafo {
    color: #000;
    margin-top: 2rem;
}

.videoContainer,
.serviciosContainer,
.reseniasContainer,
.caracteristicasContainer,
.accionContainer {
    width: 90%;
    margin: 0 auto;
}


.videoContainerBackground {
    background-color: #F1F1F1;
    padding: 1rem 0;
}

.videoContainer h2,
.reseniaTitulo {
    text-transform: uppercase;
    font-weight: 600;
}

.listaDesordenada {
    padding-left: 1rem;
}

.listaDesordenada li span {
    font-weight: 600;
}

.listaDesordenada li {
    font-weight: 300;
    margin: 1rem 0;
}

.serviciosContainerInferior {
    width: 40%;
}

.serviciosLista {
    padding-left: 1rem;
}

.icon {
    display: flex;
    align-items: center;
}

.servicioContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: #F1F1F1;
}

.serviciosContainer {
    width: 90%;
    margin: 1.5rem auto;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.serviciosTitulo {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}

.serviciosLista li {
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.reseniaTitulo {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.reseniaDescrip {
    color: #000;
    text-align: center;
    font-weight: 400;
    margin-top: 0;
    width: 18rem;
}

.reseniasContainer {
    margin: 3rem auto;
}

.reseniasContainerSuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicasTitulo {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
}

.caracteristicaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caracteristicaTitulo,
.accionTitulo {
    color: #000;
    font-weight: 600;
}

.caracteristicasContainer {
    margin: 4rem auto;
}

.accionSliderTitulo,
.accionSliderParrafo {
    color: #000;
}

.caracteristicaParrafo {
    color: #000;
    text-align: center;
    width: 17rem;
}

.accionContainerBackground {
    background-color: #F1F1F1;

}

.accionContainerSuperior {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.accionTitulo {
    margin-bottom: 0.5rem;
}

.accionParrafo {
    color: #000;
    text-align: center;
    width: 18rem;
    margin-top: 0;
}

.videoContainerImagen {
    display: flex;
    flex-direction: column;
}

.videoImagen {
    width: 90%;
    height: 25rem;
    object-fit: cover;
    margin: 0 auto;
}

@media only screen and (min-width: 600px) {
    .headerContainer {
        width: 60%;
    }

    .introduccionContainer {
        width: 70%;
        margin: 4rem auto;
    }

    .serviciosContainer,
    .caracteristicaContainerResponsive {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }

    .caracteristicaContainerResponsive {
        margin: 3rem 0;
    }

    .servicioContainer {
        flex-direction: column;
        align-items: center;
        gap: 0;

        padding: 2rem 0;
    }

    .serviciosTitulo {
        text-align: center;
    }

    .videoContainer {
        width: 70%;
    }

    .containerResenias {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .videoImagen {
        width: 70%;
    }

}

@media only screen and (min-width: 800px) {
    .headerContainer {
        width: 40%;
    }

    .introduccionContainer {
        width: 40%;
    }

    .videoContainer {
        width: 60%;
    }

    .caracteristicaContainerResponsive {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .servicioContainer {
        flex-direction: row;
        gap: 2rem;
    }

    .serviciosTitulo {
        text-align: start;
    }

    .reseniasContainer {
        max-width: 60%;
    }

    .videoContainerImagen {
        flex-direction: row;
        gap: 4rem;
        margin: 0 auto;
        width: 70%;
    }

    .videoImagen {
        width: 30rem;
    }

}